<!-- Footer --><!-- Newsletter sektion -->
<section class="newsletter-section">
  <div class="newsletter-title">DESIGN NEWS TO<br />YOUR INBOX</div>
  <form class="newsletter-form">
    <input type="email" placeholder="Email" />
    <button type="submit">SIGN UP</button>
  </form>
</section>

<footer>
  <div class="footer-col">
    <strong>CREATIVE ESCAPE</strong>
    <div class="footer-links" style="margin-top:14px;">
      Art<br />Design<br />Architecture
    </div>
  </div>
  <div class="footer-col">
    <div class="footer-links">
      Website<br />Podcast<br />Authors
    </div>
  </div>
  <div class="footer-col">
    <div class="footer-links">
      Styleguide<br />Licensing<br />Changelog
    </div>
  </div>
  <div class="footer-col">
    <div class="footer-socials">
      <a href=""><img src="../assets//icons/instagram.png" alt="" /></a>
      <a href=""><img src="../assets//icons/twitter.png" alt="" /></a>
      <a href=""><img src="../assets//icons/youtube.png" alt="" /></a>
    </div>
  </div>
</footer>
