<!-- Header -->
<header>
  <div class="header-top">
    <img src="/menu.svg" alt="menu" class="menu-icon" />
    <img src="../src/assets/top_logo.png" alt="logo" class="logo" />
    <span></span>
    <img src="/search.svg" alt="søg" class="search" />
  </div>
  <div class="banner">
    <img src="../src/assets/logo.png" alt="banner logo" class="banner-logo" />
  </div>
</header>
